<launch>
  <include file="$(find ur_gazebo)/launch/ur5_bringup.launch">
    <arg name="gui" value="true"/>
    <arg name="controllers" value="joint_state_controller eff_joint_traj_controller"/>
  </include>

  <node pkg="ur5_ros_gazebo"
        type="motion_demo_node"
        name="motion_demo_node"
        output="screen"/>
</launch>
